body {
  color: #3a3537;
  background-color: #D4D4D4;
  font-family: 'Lora', serif;
  font-size: 20px;
  line-height: normal;
  font-weight: 300;
}

h1, h2, h3 {
  color: #3a3537;
  font-family: 'Nunito Sans', sans-serif;
  line-height: normal;
}

a {
  color: #253e97;
  text-decoration: none;
}

a:hover {
  color: #3c4fa4;
}

.button {
  background-color:  #253e97;
  border: none;
  color: #FAFAFA;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #3c4fa4;
  color: #FAFAFA;
}

.img-circle {
  border-radius: 50%;
  width: 250px;
}

.img-square {
  border-radius: 0%;
  width: 250px;
}

.text-center {
  border-radius: 50%;
}

.card-white {
  background: #FAFAFA;
  padding: 60px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  margin: 20px 0px;
  width: 500px;
  text-align: center;   
}

.container {
  width: 600px;
  margin: 0 auto;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
